<!DOCTYPE html>
<html>
<head>
	<title>Geir Dashboard</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		
		<div role="tabpanel">

		  <!-- Nav tabs -->
		  <nav class="navbar navbar-default">
			  <ul class="nav navbar-nav nav-pills" role="tablist">
			    <li role="presentation" class="active"><a href="#stocks" aria-controls="stocks" role="tab" data-toggle="tab">STOCKS</a></li>
			    <li role="presentation"><a href="#commodities" aria-controls="commodities" role="tab" data-toggle="tab">COMMODITIES</a></li>
			    <li role="presentation"><a href="#exchanges" aria-controls="exchanges" role="tab" data-toggle="tab">EXCHANGES RATES</a></li>
			    <li role="presentation"><a href="#interests" aria-controls="interests" role="tab" data-toggle="tab">INTERESTS RATES</a></li>
			  </ul>
		  </nav>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="stocks">
		    	<table class="table table-condensed table-striped">
						<thead>
							<td>Code</td>
							<td>Name</td>
							<td>Last Update</td>
							<td class="text-right">Value</td>
							<td class="text-right">Day Variation</td>
							<td class="text-right">Month Variation</td>
							<td class="text-right">Year Variation</td>
						</thead>

						<tbody>
							{% for stock in stocks %}
								<tr>
									<td>{{stock.code}}</td>
									<td>
									{% if stock.name %}{{stock.name|truncate(40)}}{% endif %}
									</td>
									<td>{{stock.updated}}</td>
									<td class="text-right">{{stock.value|currency}}</td>
									<td class="text-right {% if stock.dayVariation > 0 %}text-success{% elif stock.dayVariation == 0 %}{% else %} text-danger {% endif %}">
									{{stock.dayVariation|percentage}}
									</td>
									<td class="text-right {% if stock.monthVariation > 0 %}text-success{% elif stock.monthVariation == 0 %}{% else %} text-danger {% endif %}">
									{{stock.monthVariation|percentage}}
									</td>
									<td class="text-right {% if stock.yearVariation > 0 %}text-success{% elif stock.yearVariation == 0 %}{% else %} text-danger {% endif %}">
									{{stock.yearVariation|percentage}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
		    </div>

		    <div role="tabpanel" class="tab-pane" id="commodities">
		    	<table class="table table-condensed table-striped">
						<thead>
							<td>Code</td>
							<td>Name</td>
							<td>Last Update</td>
							<td class="text-right">Value</td>
							<td class="text-right">Day Variation</td>
							<td class="text-right">Month Variation</td>
							<td class="text-right">Year Variation</td>
						</thead>

						<tbody>
							{% for commoditie in commodities %}
								<tr>
									<td>{{commoditie.code}}</td>
									<td>
									{% if commoditie.name %}{{commoditie.name|truncate(40)}}{% endif %}
									</td>
									<td>{{commoditie.updated}}</td>
									<td class="text-right">{{commoditie.value|currency}}</td>
									<td class="text-right {% if commoditie.dayVariation > 0 %}text-success{% elif commoditie.dayVariation == 0 %}{% else %} text-danger {% endif %}">
									{{commoditie.dayVariation|percentage}}
									</td>
									<td class="text-right {% if commoditie.monthVariation > 0 %}text-success{% elif commoditie.monthVariation == 0 %}{% else %} text-danger {% endif %}">
									{{commoditie.monthVariation|percentage}}
									</td>
									<td class="text-right {% if commoditie.yearVariation > 0 %}text-success{% elif commoditie.yearVariation == 0 %}{% else %} text-danger {% endif %}">
									{{commoditie.yearVariation|percentage}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>		    	
		    </div>

		    <div role="tabpanel" class="tab-pane" id="exchanges">
		    	<table class="table table-condensed table-striped">
						<thead>
							<td>Code</td>
							<td>Name</td>
							<td>Last Update</td>
							<td class="text-right">Value</td>
							<td class="text-right">Day Variation</td>
							<td class="text-right">Month Variation</td>
							<td class="text-right">Year Variation</td>
						</thead>

						<tbody>
							{% for exchange in exchanges %}
								<tr>
									<td>{{exchange.code}}</td>
									<td>
									{% if exchange.name %}{{exchange.name|truncate(40)}}{% endif %}
									</td>
									<td>{{exchange.updated}}</td>
									<td class="text-right">{{exchange.value|currency}}</td>
									<td class="text-right {% if exchange.dayVariation > 0 %}text-success{% elif exchange.dayVariation == 0 %}{% else %} text-danger {% endif %}">
									{{exchange.dayVariation|percentage}}
									</td>
									<td class="text-right {% if exchange.monthVariation > 0 %}text-success{% elif exchange.monthVariation == 0 %}{% else %} text-danger {% endif %}">
									{{exchange.monthVariation|percentage}}
									</td>
									<td class="text-right {% if exchange.yearVariation > 0 %}text-success{% elif exchange.yearVariation == 0 %}{% else %} text-danger {% endif %}">
									{{exchange.yearVariation|percentage}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>		    	
		    </div>

		    <div role="tabpanel" class="tab-pane" id="interests">
		    	<table class="table table-condensed table-striped">
						<thead>
							<td>Code</td>
							<td>Name</td>
							<td>Last Update</td>
							<td class="text-right">Value</td>
							<td class="text-right">Day Variation</td>
							<td class="text-right">Month Variation</td>
							<td class="text-right">Year Variation</td>
						</thead>

						<tbody>
							{% for interest in interests %}
								<tr>
									<td>{{interest.code}}</td>
									<td>
									{% if interest.name %}{{interest.name|truncate(40)}}{% endif %}
									</td>
									<td>{{interest.updated}}</td>
									<td class="text-right">{{interest.value}}</td>
									<td class="text-right {% if interest.dayVariation > 0 %}text-success{% elif interest.dayVariation == 0 %}{% else %} text-danger {% endif %}">
									{{interest.dayVariation|percentage}}
									</td>
									<td class="text-right {% if interest.monthVariation > 0 %}text-success{% elif interest.monthVariation == 0 %}{% else %} text-danger {% endif %}">
									{{interest.monthVariation|percentage}}
									</td>
									<td class="text-right {% if interest.yearVariation > 0 %}text-success{% elif interest.yearVariation == 0 %}{% else %} text-danger {% endif %}">
									{{interest.yearVariation|percentage}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>		    	
		    </div>
		  </div>

		</div>
		

	</div>
</body>
</html>