<!DOCTYPE html>
<html>
<head>
	<title>Geir Dashboard</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		
		<div role="tabpanel">

		  <!-- Nav tabs -->
		  <nav class="navbar navbar-default">
			  <ul class="nav navbar-nav nav-pills" role="tablist">
			    <li role="presentation" class="active"><a href="#stocks" aria-controls="stocks" role="tab" data-toggle="tab">STOCKS</a></li>
			    <li role="presentation"><a href="#commodities" aria-controls="commodities" role="tab" data-toggle="tab">COMMODITIES</a></li>
			    <li role="presentation"><a href="#exchanges" aria-controls="exchanges" role="tab" data-toggle="tab">EXCHANGES RATES</a></li>
			    <li role="presentation"><a href="#interests" aria-controls="interests" role="tab" data-toggle="tab">INTERESTS RATES</a></li>
			  </ul>
		  </nav>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="stocks">
		    	<table class="table table-condensed table-striped">
						<thead>
							<td>Code</td>
							<td>Name</td>
							<td>Last Update</td>
							<td>Value</td>
							<td>Day Variation</td>
							<td>Month Variation</td>
							<td>Year Variation</td>
						</thead>

						<tbody>
							{% for stock in stocks %}
								<tr>
									<td>{{stock.code}}</td>
									<td>{{stock.name}}</td>
									<td>{{stock.updated}}</td>
									<td class="text-right">{{stock.value|currency}}</td>
									<td class="text-right">{{stock.dayVariation|percentage}}</td>
									<td class="text-right">{{stock.monthVariation|percentage}}</td>
									<td class="text-right">{{stock.yearVariation|percentage}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
		    </div>

		    <div role="tabpanel" class="tab-pane" id="commodities">
		    	<table class="table table-condensed table-striped">
						<thead>
							<td>Code</td>
							<td>Name</td>
							<td>Last Update</td>
							<td>Value</td>
							<td>Day Variation</td>
							<td>Month Variation</td>
							<td>Year Variation</td>
						</thead>

						<tbody>
							{% for commoditie in commodities %}
								<tr>
									<td>{{commoditie.code}}</td>
									<td>{{commoditie.name}}</td>
									<td>{{commoditie.updated}}</td>
									<td class="text-right">{{commoditie.value|currency}}</td>
									<td class="text-right">{{commoditie.dayVariation|percentage}}</td>
									<td class="text-right">{{commoditie.monthVariation|percentage}}</td>
									<td class="text-right">{{commoditie.yearVariation|percentage}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>		    	
		    </div>

		    <div role="tabpanel" class="tab-pane" id="exchanges">
		    	<table class="table table-condensed table-striped">
						<thead>
							<td>Code</td>
							<td>Name</td>
							<td>Last Update</td>
							<td>Value</td>
							<td>Day Variation</td>
							<td>Month Variation</td>
							<td>Year Variation</td>
						</thead>

						<tbody>
							{% for exchange in exchanges %}
								<tr>
									<td>{{exchange.code}}</td>
									<td>{{exchange.name}}</td>
									<td>{{exchange.updated}}</td>
									<td class="text-right">{{exchange.value|currency}}</td>
									<td class="text-right">{{exchange.dayVariation|percentage}}</td>
									<td class="text-right">{{exchange.monthVariation|percentage}}</td>
									<td class="text-right">{{exchange.yearVariation|percentage}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>		    	
		    </div>

		    <div role="tabpanel" class="tab-pane" id="interests">
		    	<table class="table table-condensed table-striped">
						<thead>
							<td>Code</td>
							<td>Name</td>
							<td>Last Update</td>
							<td>Value</td>
							<td>Day Variation</td>
							<td>Month Variation</td>
							<td>Year Variation</td>
						</thead>

						<tbody>
							{% for interest in interests %}
								<tr>
									<td>{{interest.code}}</td>
									<td>{{interest.name}}</td>
									<td>{{interest.updated}}</td>
									<td class="text-right">{{interest.value|currency}}</td>
									<td class="text-right">{{interest.dayVariation|percentage}}</td>
									<td class="text-right">{{interest.monthVariation|percentage}}</td>
									<td class="text-right">{{interest.yearVariation|percentage}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>		    	
		    </div>
		  </div>

		</div>
		

	</div>
</body>
</html>